@using Xs.RazorHost.Core
@functions{
    [AllowAnonymous]
    public void main()
    {
        ViewBag.title = "RazorPage for .NetFrameWork ";
       
        // login_url = "";
    }
    
    
}
<script type="text/javascript" src="https://cdn.staticfile.org/require.js/2.3.5/require.min.js"></script>
<html>
    <head>

    </head>
    <body>
        @RenderBody()
    </body>
</html>
